<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>CHECK Suggested Stores</title>
</head>
<body>


<table border="1px">
    <tr>
        <td>Store Name</td>
        <td>Store Location</td>
        <td>Store Type</td>
    </tr>
    <tr th:each="store:${storeslist}">
        <td th:text="${store.getStoreName()}"></td>
        <td th:text="${store.getStoreLocation()}"></td>
        <td th:text="${store.getType()}"></td>
    </tr>
</table>
<br>
<form method ="post" th:action="@{/AcceptStore}" th:object="${store}">
    Store Name : <input type ="text" th:field="*{storeName}"><br>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset"/></p>
</form>

</body>
</html>