<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Assign Brand to Product</title>
</head>
<body>
    <div >
        <form method="post" th:action="@{/AssignProductToStore}" th:object="${}" >
            <select th:field="${brand}">
                <option value="">Select Brand</option>
                <option th:each="brands : ${brand}" th:value="${brands.getName()}" th:text="${brands.getName()}"></option>
            </select>
            <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" />
        </form>
    </div>
</body>
</html>

